<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79240507145-74vs6k85o7ja65jbo2bbiihu0rhnd80s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79240507145-74vs6k85o7ja65jbo2bbiihu0rhnd80s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79240507145-1a2rca7okl1lpr236n8tm2j8kish5cjd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmrJ2tDeYzkHpXoZVYWKNcbePuDqaEp-k</string>
	<key>GCM_SENDER_ID</key>
	<string>79240507145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sidebaranimationflutter</string>
	<key>PROJECT_ID</key>
	<string>payana-1da79</string>
	<key>STORAGE_BUCKET</key>
	<string>payana-1da79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79240507145:ios:3a712a2ba15ff6cb512dd8</string>
	<key>DATABASE_URL</key>
	<string>https://payana-1da79.firebaseio.com</string>
</dict>
</plist>